@import "../common/Common.module";

.nav{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  font-size: 20px;

  a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    &:visited{
      color: white;
    }
    &:hover{
      color: yellow;
    }
  }
}

